.header {
  width: 100%;
  app-region: drag;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .controlBtnArea {
    app-region: no-drag;
  }
}

.menuDrawer {
  background-color: rgba(0, 0, 0, 50%) !important;
  backdrop-filter: blur(10px);
}
